.welcomeHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 464px;
    background-color: #ffcc00;
    background-repeat: no-repeat;
    background-size: auto 700px;
    line-height: 44px;
    text-align: center;
    color: #333;
    padding-top: 100px;
  }
  .welcomeHeader-h1 {
    display: block;
    padding-bottom: 20px;  
    max-width: 592px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
  }
  .home-input{
    margin: 0;
      width: 100%;
      max-width: 592px;
      height: 48px;
      border-width: 1px;
      border-radius: 8px;
      color: #333;
      background-color: #FFFFFF;
      font-size: 16px;
      line-height: 20px;
      font-family: Roboto;
      border: 1px solid #ccc;
      padding: 1px 20px 1px 48px;
      font-size: 16px;
      border-color: #999;
      cursor: text;
  }

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #ffcc00;
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.text-hero{
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 600;
   
}

.input-hero{
    padding: 15px;
    border:1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    width: 560px;
    margin-bottom: 30px;
}

.input-div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.input-div img {
    width: 29px;
    height: 29px;
    background-color: white;
    position: absolute;
    
} 
  .home-input{
    margin: 0;
      width: 100%;
      max-width: 592px;
      height: 48px;
      border-width: 1px;
      border-radius: 8px;
      color: #333;
      background-color: #FFFFFF;
      font-size: 16px;
      line-height: 20px;
      font-family: Roboto;
      border: 1px solid #ccc;
      padding: 1px 20px 1px 48px;
      font-size: 16px;
      border-color: #999;
      cursor: text;
  } */